<% include ../../../views/head  %>
<% include ../../../views/navbar %>
<!--content-->
<main>
  <div class="jumbotron">
    <h1>Html Previewer!</h1>
    <p>copy html code into the textarea below, then page will be shown</p>
  </div>

  <textarea class="form-control code" rows="20"></textarea>
  <button type="button" class="btn btn-default btnPreview" style="float:right; margin-top:10px;">Preview</button>
  <button type="button" class="btn btn-default btnClear" style="float:right; margin-top:10px;margin-right:10px;">Clear</button>
</main>
<% include ../../../views/foot %>
