<%
if(typeof moduleJs == 'undefined'){
  moduleJs = '';
}
%>
<!--foot template-->
  </body>
  <script type='text/javascript' src='/javascripts/lib/jquery-2.0.3.min.js' ></script>
  <script type='text/javascript' src='/javascripts/lib/bootstrap.min.js' ></script>
  <script type='text/javascript' src='/javascripts/x.js' ></script>

  <% if(moduleJs!=''){ %>
  <script type='text/javascript' src='<%=moduleJs%>' ></script>
  <% } %>

</html>
