<%
if(typeof moduleCss == 'undefined'){
  moduleCss = '';
}
%>
<!--head template-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <% if(moduleCss!=''){ %>
    <link rel='stylesheet' href='<%=moduleCss%>' />
    <% } %>
  
  </head>
  <body>
