<% include head  %>    
<% include navbar %>
<!--content-->
<main class="as-masthead">
	<div class="container">
		<h1>Aslin`s Site</h1>
		<p class="lead">
			This site is built for some interesting tools.It is just for fun.
		</p>
    <p style="margin-top:100px">
      click to visit >> <a href="http://aslinwang.github.io/" target="_blank">Aslin`s HomePage</a>
    </p>
	</div>
</main>
<% include foot %>    
