<% include head  %>    
<% include navbar %>
<!--content-->
<main class="as-masthead">
	<div class="container">
		<h1>Aslin`s Site</h1>
		<p class="lead">
			This site is built for some interesting tools.It is just for fun.
		</p>
	</div>
</main>
<% include foot %>    
