<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Aslin`s Site</a>
		</div>
		<nav class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class=""><a href="/trans">Cloud Trans</a></li>
				<li class=""><a href="/url2qr">Url To Qrcode</a></li>
				<li class=""><a href="/docs">Docs</a></li>
			</ul>
		</nav>
	</div>
</header>
