<%
if(typeof active == 'undefined'){
	active = 'index';
}
%>
<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Aslin`s Site</a>
		</div>
		<nav class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="<% if(active == 'mobi'){ %>active<% } %>"><a href="/mobi">MobiMaker</a></li>
				<li class="<% if(active == 'fc'){ %>active<% } %>"><a href="/fc">Fc</a></li>
			</ul>
		</nav>
	</div>
</header>
